/* Variables */

$light: #f7f7f7;
$dark: #2e2d2c;
$yellow: #f7b74f;
$blue-light: #87c5ec;
$blue-dark: #4a79bc;
$gray-light: #575756;
$gray-dark: #3c3c3b;
$active: #f3f5f9;
$input-border: #a8a8a7;
$input-text: #878787;
$full: 100%;
$center: 0 auto;