/* Buttons */

.button {
    background: white;
    border: 2px solid white;
    color: $gray-dark;
    cursor: pointer;
    padding: 0 33px;
    @include font-size(1.4, 4.7);
    @include rounded-corners($size:5px);
    @extend .fade;
    @extend .floating;

    * {
        @extend .fade;
    }

    &:hover {
        background: $light;
        border: 2px solid $light;
        text-decoration: none;
        color: $gray-dark;
    }

    &:active {
        @extend .hov;
    }

    &.button--dark {
        background: $gray-dark;
        border: 2px solid $gray-dark;
        color: white;

        &:hover {
            background: $gray-light;
            border: 2px solid $gray-light;
            color: white;
        }
    }

    &.button--ghost {
        background: transparent;
        border: 2px solid white;
        color: white;

        &:hover {
            background: white;
            border: 2px solid white;
            color: $gray-dark;
        }
    }

    &.button--blue {
        @include font-size(1.4, 3.1);
        background: $blue-light;
        border: 2px solid $blue-light;
        color: white;

        &:hover {
            background: $blue-dark;
            border: 2px solid $blue-dark;
            color: white;
        }
    }
}